@model Product_CatalogAndWarehouse_Inventory.Models.ProductCatalogueModel

@{
    ViewBag.Title = "Add Catalogue Product";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissable" id="alertDiv">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        @ViewBag.Message
        <a class="alert-link" href="#"></a>
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger alert-dismissable" id="alertDiv">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        @ViewBag.ErrorMessage
        <a class="alert-link" href="#"></a>
    </div>
}

<div class="panel panel-info">
    <div class="panel-heading">
        Add Catalogue Product
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="panel-body">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body" style="min-height:820px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Name:</label>
                                @*@Html.TextBox("Name", "", new { @class = "form-control" })*@
                                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ProductName, "", new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Warehouse SKU:</label>
                                @*@Html.TextBox("SKU", "", new { @class = "form-control" })*@
                                @Html.TextBoxFor(m => m.WarehouseSKU, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.WarehouseSKU, "", new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description:</label>
                                @Html.TextAreaFor(m=>m.Description, new { @class = "form-control" ,placeholder = "Enter a message ..." })
                                @*<textarea class="form-control" id="message" rows="3" placeholder="Enter a message ..."></textarea>*@
                            </div>

                            <div class="form-group">
                                <label>HS Code:</label>
                                @Html.TextBox("hscode", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" style="text-align:center">
                            <label>Product Dimensions:</label>
                        </div>
                        <hr />
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Width (CM):</label>
                                @Html.TextBox("width", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Length (CM):</label>
                                @Html.TextBox("length", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Height (CM):</label>
                                @Html.TextBox("height", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Material Composition:</label>
                                @Html.TextBox("materialComposition", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Varsany Bag:</label>
                                @Html.TextBox("varsanyBag", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Colour:</label>
                                @Html.TextBox("colour", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Weight (KG):</label>
                                @Html.TextBox("productWeight", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Box Size (CM):</label>
                                @Html.TextBox("boxSize", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Box Quantity:</label>
                                @Html.TextBox("boxQuantity", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Manufaturer:</label>
                                @Html.TextBoxFor(m=>m.Manufaturer, "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Mailing Bag:</label>
                                @Html.TextBox("mailingBag", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Size:</label>
                                @Html.TextBox("size", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body" style="min-height:820px">
                        <div class="form-group" style="text-align:center">
                            <label>Cost</label>
                        </div>
                        <hr />
                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Product Cost:</label>
                                    @*@Html.TextBox("cost", "", new { @class = "form-control" })*@
                                    @Html.TextBoxFor(m => m.ProductCost, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ProductCost, "", new { @style = "color:red" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Commision (%):</label>
                                    @Html.TextBox("commision", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Shipping Cost f/CN:</label>
                                    @Html.TextBox("shippingCost", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Duty (%):</label>
                                    @Html.TextBox("duty", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group" style="text-align:center">
                                <label>Total Cost</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Chinese Yuan</label>
                                    @Html.TextBox("ChineseYuan", "", new { @class = "form-control", @disabled = "true", Value = "0.00" })
                                </div>
                                <div class="form-group">
                                    <label>US Dollar</label>
                                    @Html.TextBox("USDollar", "", new { @class = "form-control", @disabled = "true", Value = "0.00" })
                                </div>
                                <div class="form-group">
                                    <label>Euros</label>
                                    @Html.TextBox("Euros", "", new { @class = "form-control", @disabled = "true", Value = "0.00" })
                                </div>
                                <div class="form-group">
                                    <label>Total Cost</label>
                                    @Html.TextBox("TotalCost:", "", new { @class = "form-control", @disabled = "true", Value = "0.00" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body" style="min-height:820px">
                        <div class="form-group">
                            <label>Product Image</label>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <small>IMAGE FORMAT MUST BE JPG,PNG.</small>
                                <div id="dropzone">
                                    <img src="" alt="" id="dropzoneimg">
                                    <p>Drop image or click to upload</p>
                                    <input type="file" id="uploadimg" name="ImageFile" hidden />
                                </div>
                            </div>
                        </div>                     
                        <div class="form-group" style="margin-left:20px">
                            @*@Html.ValidationMessageFor(m => m.ImageFile, "", new { @style = "color:red" })
                            <br />*@
                            <a href=""><i class="fa fa-trash" style="color:red;">Delete Attachment</i></a>
                        </div>
                        <div class="form-group" style="margin-left:20px">
                            <button class="btn btn-white" type="button">Cancel</button>
                            <button class="btn btn-w-m btn-primary" type="submit" id="uploadedimage" onclick="uploadFile()">Save Product</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    #dropzone {
        max-width: 320px;
        height: 320px;
        border: solid 1px #CCC;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #dropzoneimg {
        object-fit: contain;
        width: 100%;
        height: 320px;
        display: none;
        padding: 4px;
    }

    #uploadimg {
        display: none;
    }
</style>

@section scripts{
    <script>
        const dropZone = document.querySelector('#dropzone');
        const img = document.querySelector('#dropzoneimg');
        let p = document.querySelector('p')
        var input = document.getElementById('uploadimg');
        var drag = document.getElementById('dropzone');
        console.log(img);

        $('#uploadimg').on('change', function (e) {
            var fileName = URL.createObjectURL(e.target.files[0]);
            var previewImg = document.getElementById("dropzoneimg");
            previewImg.style.display = "block";
            previewImg.setAttribute("src", fileName);
            p.style = 'display: none';
        });

        $('#dropzone').on('click', function () {
            input.click();
        });
        $('#dropzone').on('click', function (e) {
            e.stopPropagation();
        });

        dropZone.addEventListener('dragover', (e) => {
            e.preventDefault();
        });
        dropZone.addEventListener('drop', (e) => {
            e.preventDefault();
            
            img.style = "display:block;";
            let fileName = e.dataTransfer.files[0];
            const reader = new FileReader();
            reader.readAsDataURL(fileName);
            reader.onloadend = function () {
                e.preventDefault()
                p.style = 'display: none';
                let src = this.result;
                img.src = src;
                img.alt = fileName.name
            }  
            $("#uploadimg").prop("files", e.dataTransfer.files)            
        });

        var milliseconds = 3000;
        setTimeout(function () {
            document.getElementById('alertDiv').remove();
        }, milliseconds);
    </script>
}
