@model Product_CatalogAndWarehouse_Inventory.Models.ProductCatalogueModel

@{
    ViewBag.Title = "Product List";
}

<div class="alert alert-success alert-dismissable" style="display:none" id="successMsg">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <a class="alert-link" href="#"></a>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="myForm" class="form-horizontal">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-1 control-label">Show</label>
                <div class="col-sm-1">
                    @Html.DropDownList("PageSize", new SelectList(Model.PageSizeList, "Value", "Text", Model.PageSize),
                        new { onchange = "PageSizeChangefunc(this.value)", id = "pagesize", @class = "form-control" })
                </div>
                <label class="col-sm-1 control-label">Search</label>
                <div class="col-sm-2">
                    @Html.TextBox("search", "", Model.search, new { onkeyup = "Search(this.value)", @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-w-m btn-primary"
                            onclick="ADDProduct(this.value)" style="margin-left:60px">Add Product</button>
                </div>
            </div>
            @if (ViewBag.infoMessage != null)
            {
                @ViewBag.infoMessage
            }
            @foreach (var item in Model.ProductList)
            {
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box" style="height:280px">
                            <div class="product-imitation" id="dropzone">
                                @if (!string.IsNullOrEmpty(item.FileImage))
                                {
                                    <img src="/UploadedImage/@item.FileImage" id="dropzoneimg" alt="">
                                }
                                else
                                {
                                    <img src="/DefaultImage/thumbnail-default.jpg" alt="" id="dropzoneimg" />
                                }
                            </div>
                            <div class="product-desc" style="height:50px">
                                <span class="product-price">
                                    £@item.TotalCost
                                </span>
                                <div class="small m-t-xs" style="text-align:center">
                                    @item.ProductName
                                </div>
                            </div>
                            <div class="product-button">
                                <div class="m-t text-righ">
                                    <button value="@item.WarehouseSKU" type="button" class="btn btn-xs btn-primary"
                                            onclick="ViewProduct(this.value)" style="margin-left:60px">View</button>
                                    <button value="@item.WarehouseSKU" type="button" class="btn btn-success btn-xs"
                                            onclick="EditProduct(this.value)" style="margin-left:20px">Edit</button>
                                    <button value="@item.WarehouseSKU" type="button" class="btn btn-danger btn-xs"
                                            onclick="DeleteProduct(this.value)" style="margin-left:20px">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            <ul class="pagination">
                @if (Model.Page_Number != 1)
                {
                    <li>
                        @Html.ActionLink("Prev", "ProductList", new { Page = Model.Page_Number - 1, pageSize = Model.PageSize, search = Model.search })
                        @Html.ActionLink("First", "ProductList", new { Page = 1, pageSize = Model.PageSize, search = Model.search })
                    </li>
                }
                @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                {
                    if (i == Model.Page_Number)
                    {
                        <li class="active">
                            @Html.ActionLink(i.ToString(), "ProductList", new { Page = Model.Page_Number, pageSize = Model.PageSize, search = Model.search })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink(i.ToString(), "ProductList", new { Page = i, pageSize = Model.PageSize, search = Model.search })
                        </li>
                    }
                }
                @if (Model.Page_Number != Model.Page_Count)
                {
                    <li>
                        @Html.ActionLink("Next", "ProductList", new { Page = Model.Page_Number + 1, pageSize = Model.PageSize, search = Model.search })
                        @Html.ActionLink("Last", "ProductList", new { Page = Model.Page_Count, pageSize = Model.PageSize, search = Model.search })
                    </li>
                }
            </ul>
        </div>
    </form>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="container">
            <div class="modal-header" style="padding:2px">
                <a href="#" data-dismiss="modal"> </a>
                <div class="ibox-tools">
                    <span id="myModalLabel" style="margin-right:900px;"><font size="+2"><b></b></font></span>
                    <a class="close-link" data-dismiss="modal">
                        <i class="fa fa-times" style="margin-right:15px"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <fieldset id="modal_form">
                </fieldset>
                <div class="modal-footer" style="padding:8px">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #dropzone {
        text-align: center;
        padding: 0px 0;
        background-color: #f8f8f9;
        color: #bebec3;
        font-weight: 600;
    }

    #dropzoneimg {
        object-fit: contain;
        width: 100%;
        height: 180px;
        padding: 4px;
        display: block;
    }

    #container {
        width: 1100px;
        height: 700px;
        position: fixed;
        left: calc(50% - 500px);
    }
</style>

@section scripts{
    <script>
        pageSize = document.getElementById("pagesize").value;
        function PageSizeChangefunc(pageSize)
        {
            window.location.href = "/ProductCatalogue/ProductList?pageSize=" + pageSize;
        }

        var delayTimer;
        function Search(search) {
            clearTimeout(delayTimer);
            delayTimer = setTimeout(() => {
                window.location.href = "/ProductCatalogue/ProductList?pageSize=" + pageSize + "&search=" + search;
            }, 1000);
        }

        function ADDProduct() {
            window.location.href = "/ProductCatalogue/AddCatalogueProduct";
        }
        
        function EditProduct(WarehouseSKU) {
            window.location.href = "/ProductCatalogue/AddCatalogueProduct?sku=" + WarehouseSKU;
        }

        function ViewProduct(warehouseSKU) {
            $.ajax({
                    url : '@Url.Action("ViewProduct", "ProductCatalogue")',
                    method: 'GET',
                    data: { warehouseSKU: warehouseSKU },
                    success: function (response) {
                        $("#modal_form").html(response);                       
                        $("#editModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
        }

        function DeleteProduct(sku) {
            swal({
                title: "Are you sure you want to delete this Product?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false

            }, function () {
                $.ajax({
                    url: "DeleteProduct",
                    method: 'GET',
                    data: { sku: sku },
                    success: function (response) {
                        if (response.iserror == false) {
                            swal("Deleted!", response.message);
                            document.getElementById('successMsg').innerText = response.message  
                            clearTimeout(delayTimer);
                            delayTimer = setTimeout(() => {
                                window.location.href = "/ProductCatalogue/ProductList?pageSize=" + pageSize;
                            }, 2000);
                        }
                                              
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        }        
    </script>
}



