@model Product_catalog_and_Warehouse_inventory1.Models.Usermangement
@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.title | Product Catalog and Warehouse Inventory</title>

    <!--Used to render a bundle of CSS files-->
    @Styles.Render("~/Content/css")

</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">WI+</h1>

            </div>
            <p>Login</p>
            <form class="m-t" role="form" method="post">
                <div class="form-group" style="text-align:left">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:red" })
                </div>
                <div class="form-group" style="text-align:left">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", Type = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                <div class="form-group" style="text-align:left">
                    @if (ViewBag.Message != null)
                    {
                        <span style="color:@Convert.ToString( ViewBag.color)"> @ViewBag.Message</span>
                    }
                </div>
                @*<a href="#"><small>Forgot password?</small></a>*@
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="https://localhost:44333/Usermangement">Create new account</a>
            </form>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>



